/*
* Import Others CSS
*/

@import '../css/magnific-popup.css';

/*
* Base CSS
*/

* {
    margin: 0;
    padding: 0;
}

.floatleft {
    float: left
}

.floatright {
    float: right
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

body {
    position: relative;
}
.headerfont {
    font-family: 'Playfair Display SC', serif;
}
.otherfont {
    font-family: 'Dosis', sans-serif;
}
.floatleft {
    float: left
}

.floatright {
    float: right
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #111;
    margin: 0 0 15px;
    line-height: 1.3
}

p {
    color: #555;
    font-size: 1em;
    line-height: 1.5;
    font-family:'Dosis', sans-serif;
}

a:focus {
    outline: 0px solid;
}

a,
a:hover,
a:focus {
    -webkit-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    text-decoration: none;
    outline: none;
    color: #111;
}

.btn {
    -webkit-box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
}

.btn:hover {
    -webkit-box-shadow: 5px 5px 24px rgba(0, 0, 0, 0.15);
    box-shadow: 5px 5px 24px rgba(0, 0, 0, 0.15);
}

ul {
    margin: 0;
}

ol li,
ul li {
    list-style: outside none none;
}

img {
    height: auto;
    max-width: 100%;
}

.background-overlay,
.background-overlay-white {
    position: relative;
    z-index: 2;
    background-position: center center;
    background-size: cover;
}

.background-overlay:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
}

.background-overlay-white:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
}

.table {
    display: table;
    z-index: 9;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

.table_cell {
    display: table-cell;
    vertical-align: middle;
}

.margin_top_30 {
    margin-top: 30px;
}

.mt_50 {
    margin-top: 50px;
}

.mt15 {
    margin-top: 15px;
}

.mb15 {
    margin-bottom: 15px;
}

.section_padding_50 {
    padding: 50px 0;
}

.section_padding_50_20 {
    padding: 50px 0 20px 0;
}

.section_padding_150 {
    padding: 150px 0;
}

.section_padding_0 {
    padding: 0;
}

.section_padding_100 {
    padding-top: 100px;
    padding-bottom:100px;
}

.section_padding_100_0 {
    padding: 100px 0 0 0;
}

.section_padding_0_100 {
    padding: 0 0 100px 0;
}

.section_padding_0_70 {
    padding: 0 0 70px 0;
}

.section_padding_100_50 {
    padding-top: 100px;
    padding-bottom: 50px;
}

.section_padding_special {
    padding-top: 100px;
    padding-bottom: 70px; 
}

.section_padding_100_70 {
    padding-top: 100px;
    padding-bottom: 70px;
}

.section_padding_200 {
    padding-top: 200px;
    padding-bottom: 200px;
}

.section_padding_200_100 {
    padding-top: 200px;
    padding-bottom: 100px;
}

.section_padding_200_70 {
    padding-top: 200px;
    padding-bottom: 70px;
}

.section_padding_200_170 {
    padding-top: 200px;
    padding-bottom: 170px;
}

.section_padding_200_0 {
    padding-top: 200px;
    padding-bottom: 0;
}

.slidea-control-thumbnail {
    width: 150px;
}

.bg-white {
    background-color: #fff;
}

.bg-dark {
    background-color: #000;
}

.bg-transparent {
    background-color: transparent;
}

.bg-transparent-dark {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.bg-transparent-light {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.bg-dark3-4 {
    background-color: rgba(0, 0, 0, 0.75) !important;
}

.bg-dark2-4 {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.font-bold {
    font-weight: 700;
}

.font-light {
    font-weight: 300;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 30px 0;
}

.box-shadow-with-bg-gray {
    border-radius: 4px;
    background-color: #f6f6f6 !important;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.box-shadow-with-bg-gray:hover {
    -webkit-box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
}

.box-shadow-with-bg-white {
    border-radius: 4px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    background-color: #fff !important;
}

.box-shadow-with-bg-white:hover {
    -webkit-box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
}

.blue-bg {
    background-color: #3498db !important;
    color: #fff !important;
}

.bg-gray {
    background-color: #f6f6f6 !important;
}
.bg-gray-dark {
    background-color: #c3c3c3 !important;
}
.height_500 {
    height: 500px !important;
}

.height_600 {
    height: 600px !important;
}

.height_700 {
    height: 700px !important;
}

.height_800 {
    height: 800px !important;
}

.jarallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.midnight_blue {
    color: #2c3e50 !important;
}


/*
* Preloader CSS
*/

/*#preloader {
    overflow: hidden;
    background-color: #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}*/

.classy-load {
    -webkit-animation: 2000ms linear 0s normal none infinite running classy-load;
    animation: 2000ms linear 0s normal none infinite running classy-load;
    background: transparent none repeat scroll 0 0;
    border-color: #dddddd #dddddd #111111;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    height: 40px;
    left: calc(50% - 20px);
    position: relative;
    top: calc(50% - 20px);
    width: 40px;
    z-index: 9;
}

@-webkit-keyframes classy-load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes classy-load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#scrollUp {
    background-color: #5F7183;
    border-radius: 50%;
    bottom: 30px;
    color: #fff;
    font-size: 30px;
    right: 30px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    z-index: 1000 !important;
}


/*
* Section Heading CSS
*/

.section_heading {
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}

.section_heading>h2 {
    color: #5F7183;
    margin-bottom: 50px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    font-family:'Playfair Display SC', serif;
}

.section_heading>p {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin: 0 auto;
    max-width: 550px;
    text-transform: uppercase;
}

.section_heading.text-left {
    text-align: left !important;
}

.section_heading.white>h3,
.section_heading.white>p {
    color: #fff;
}

.gallery_area .section_heading {
    margin-bottom: 20px;
}

.subheading {
    color: #2c3e50;
    font-family: 'Dosis', serif;
}

/*
* Header Area CSS
*/

    .nav-menu>li>a {
        color: #777;
        text-transform: uppercase;
    }
    
    .nav-dropdown>li>a {
        color: #777;
        padding: 10px 20px;
    }
    
    .nav-dropdown>li>a:hover,
    .nav-dropdown>li>a:focus {
        color: #27ae60;
    }

.logo_area {
    padding: 20px 0;
}

.main_header_area {
    height: 70px;
    width: 100%;
    z-index: 2;
}

.main_header_area.sticky {
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000 !important;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.main_menu_area {
    float: right;
    position: relative;
    z-index: 1;
}

.mainmenu {
    display: inline-block;
}

.mainmenu {
    text-align: right;
}

.mainmenu ul#nav li {
    display: inline-block;
    position: relative;
}

.mainmenu ul#nav li a {
    color: #555;
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    padding: 28px 10px;
    text-transform: uppercase;
}

.main_header_area.sticky .mainmenu ul#nav li a {
    color: #555;
}

.main_header_area .mainmenu ul#nav li.current_page_item a {
    color: #27ae60;
}

.main_header_area.sticky .mainmenu ul#nav li.current_page_item a {
    background-color: #f6f6f6;
}

.main_header_area .mainmenu ul#nav li.current_page_item a {
    background-color: transparent;
}

.mainmenu ul#nav li a i,
.mean-container .mean-nav ul li a i {
    font-size: 14px;
    padding-left: 5px;
}

.mainmenu ul#nav li ul {
    text-align: left;
}

.mainmenu ul#nav li ul li a {
    padding-left: 15px;
    text-align: left;
}

.main_header_area.sticky .mainmenu ul#nav li.active a,
.main_header_area.sticky .mainmenu ul#nav li:hover a,
.mainmenu ul#nav li.active a,
.mainmenu ul#nav li:hover a {
    color: #27ae60;
}

.blog_page .main_header_area {
    background-color: #fff;
}

.transparent-menu .main_header_area {
    background-color: transparent;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
}

.transparent-menu .main_header_area.sticky {
    position: fixed;
    z-index: 999;
    background-color: #fff;
}

.transparent-menu .mainmenu ul#nav li a {
    color: #fff;
}

.mean-container .transparent-menu .main_header_area {
    background-color: #fff;
}

/*
* Welcome Area Slider CSS
*/

.welcome_area {
    overflow: hidden;
    background: url('../img/yellowstone-overlook.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 767px) {
    .welcome_area {
    overflow: hidden;
    background: url('../img/yellowstone-overlook-mobile.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    }
}
.header-box {
    margin-top: 250px;
    background: rgba(0, 0, 0, 0.33);
    border-radius: 0;
    color: #fff;
    padding: 20px;
}

.default-title h2 {
    font-size: 50px;
    font-weight: 300;
}

.default-description>p,
h2.default-description {
    font-size: 20px;
}

.default-button,
.default-button-green {
    background-color: #4D84EA;
    color:#fff;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 15px;
    padding: 10px 30px;
}

.default-button:hover,
.default-button:focus {
    background-color: #4D84EA;
    color: #fff;
}

.default-button-green {
    background-color: #27ae60;
    color: #fff;
}

.default-button-green:hover,
.default-button-green:focus {
    background-color: #fff;
    color: #27ae60;
}


/*
* Top Feature Area CSS
*/

.special_feature_area {
    background-color: #f6f6f6;
}

.single_feature {
    margin-bottom: 30px;
    position: relative;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    z-index: 1;
    text-align: center;
}

.single_feature .feature_img {
    margin-bottom: 30px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.feature_img i {
    color: #fff;
    font-size: 24px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single_feature .feature_text h4 {
    color: #2c3e50;
    font-size: 18px;
    text-transform: capitalize;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single_feature .feature_text p {
    margin: 0;
}

.hexagon {
    background-color: #2c3e50;
    height: 34.64px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 60px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.hexagon:before {
    border-bottom: 17.32px solid #2c3e50;
    bottom: 100%;
    left: 0;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 17.32px solid #2c3e50;
    left: 0;
}

.single_feature:hover .feature_text h4 {
    color: #27ae60;
}

.single_feature:hover .feature_img i {
    color: #fff
}

.single_feature:hover .hexagon:before,
.single_feature:hover .hexagon:after {
    border-color: #27ae60;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.single_feature:hover .hexagon {
    background-color: #27ae60;
}


/*
* About Us Area CSS
*/

.about_us_text>h3 {
    color: #5F7183;
}

.about_us_thumb {
    background-color: #fff;
    border-radius: 0;
    -webkit-box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    padding: 10px;
    position: relative;
    z-index: 1;
}

.about_us_thumb_2 {
    background-color: #fff;
    border-radius: 50%;
    bottom: 15px;
    -webkit-box-shadow: 3px 2px 3px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 3px 2px 3px 0 rgba(0, 0, 0, 0.15);
    height: 150px;
    padding: 10px;
    position: absolute;
    right: 15px;
    width: 150px;
    z-index: 99;
}

.about_us_thumb_2>img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.about_us_text a {
    font-size: 16px;
    display: inline-block;
}

.about_us_text a:hover {
    color: #27ae60;
}


/*
* Services Area CSS
*/

.what_we_do_area {
    background-color: #f6f6f6;
}

.single_service {
    background-color: #f6f6f6;
    font-family:'Dosis', serif;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    padding: 5px;
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single_service.projects {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    padding: 5px;
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single_service:hover {
    -webkit-box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
}

.single_service_title {
    margin-top: 15px;
}


/*
* Speciality Area CSS
*/

.our_speciality_area {
    margin-top: 85px;
    position: relative;
    z-index: 1;
}

.single_speciality {
    background-color: #f6f6f6;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 15px;
    position: relative;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    z-index: 1;
}

.single_speciality:hover,
.single_speciality.active {
    -webkit-box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
}

.single_speciality_text {
    margin-left: 45px;
    position: relative;
    z-index: 1;
}

.single_speciality_text p {
    margin: 0;
}

.single_speciality_icon {
    left: 15px;
    position: absolute;
    top: 15px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.our_speciality_area .single_speciality_icon i {
    color: #27ae60;
    font-size: 30px;
}

.single_speciality_text>h5 {
    text-transform: capitalize;
    margin-bottom: 10px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}


/*
* Service Details Modal Area CSS
*/

body.modal-open {
    padding-right: 0 !important;
    overflow:hidden !important;
}

.modal-dialog {
    margin: 100px auto 50px;
    max-width: 100%;
    max-height: 100%;
}

.modal-content {
    padding: 50px 0;
    border-radius: 0;
    background:#f6f6f6;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
}

.modal-open .modal {
    margin-top: -102px;
}

button.close {
    font-size: 14px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    position: absolute;
    right: 15px;
    top: 15px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    z-index: 99;
}

.service_detail_thumb {
    border: 1px solid #f6f6f6;
    padding: 5px;
    text-align: center;
    margin-bottom: 15px;
}

.service_details .title>h4 {
    color: #2c3e50;
    text-transform: uppercase;
}

.service_description {
    margin-top: 15px;
}

.service_description>p {
    color: #6f6f6f;
}


/*
* Service Details Area CSS
*/

.single_service_title>a {
    border: 1px solid #ddd;
    border-bottom: none;
    color: #2c3e50;
    display: block;
    font-size: 14px;
    padding: 15px;
    text-transform: capitalize;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    font-weight: 700;
}

.single_service_title>a>i {
    padding-right: 5px;
}

.single_service_title:nth-child(odd):hover>a {
    color: #fff;
    background-color: #2c3e50;
}

.single_service_title:nth-child(even):hover>a,
.single_service_title>a.active {
    color: #fff;
    background-color: #27ae60;
}

.single_service_title:last-child>a {
    border-bottom: 1px solid #ddd;
}

.service_data_dl {
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 30px;
    padding: 15px;
    text-align: center;
}

.service_details_thumb {
    border: 1px solid #fff;
    background:#fff;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 2px;
    text-align: center;
}

.single_part_content {
    /*padding: 30px 0 0;*/
}

.single_part_content h3 {
    color: #27ae60;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single_part_content h3>span {
    color: #34495e;
}

.call_to_action.service .call_to>h3 {
    padding-left: 30px;
}


/*
* Video Area CSS
*/

/*.video_area {
    position: relative;
    z-index: 1;
}*/

.video_play_area>h3 {
    color: #fff;
    line-height: 1.5;
}

.video_play_area>p {
    color: #fff;
}

.video_play_area a.video_btn {
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    height: 60px;
    margin-top: 15px;
    width: 60px;
}

.video_play_area a.video_btn>i {
    color: #2c3e50;
    font-size: 30px;
    line-height: 60px;
    padding-left: 5px;
}

/*.video_play_area a.video_btn:hover {
    background-color: #27ae60;
}*/

.video_play_area a.video_btn:hover i {
    color: #2c3e50;
}

/*
* Our Advisor Area CSS
*/

.our_advisor_area {
    background-color: #f6f6f6;
}

.single_advisor {
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 30px;
    position: relative;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    z-index: 1;
}

.single_advisor:hover {
    -webkit-box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
}

.advisor_thumb {
    position: relative;
    z-index: 1;
    padding: 30px 30px 0 30px;
    overflow: hidden;
}

.advisor_thumb:after {
    background-color: #2c3e50;
    bottom: 0;
    content: "";
    height: 60px;
    left: 25%;
    position: absolute;
    -webkit-transform: skewX(-45deg);
    transform: skewX(-45deg);
    width: 100%;
}

.single_advisor_details_info {
    padding: 30px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single_advisor_details_info>h5 {
    margin: 0 0 5px;
    text-transform: capitalize;
}

.about_advisor {
    border-top: 1px solid #ccc;
    padding-top: 15px;
}

.single_advisor_details_info>p {
    margin-bottom: 0;
}

.advisor_social_info .social_icon>a {
    background-color: #fff;
    border-radius: 50%;
    color: #2c3e50;
    display: inline-block;
    height: 30px;
    margin: 0;
    text-align: center;
    width: 30px;
}

.advisor_social_info .social_icon>a>i {
    line-height: 30px;
}

.advisor_social_info {
    bottom: 15px;
    position: absolute;
    right: 15px;
    z-index: 9999;
}

.advisor_social_info .social_icon>a:hover {
    background-color: #D1CFCF;
}

@-webkit-keyframes sonarWave {
    from {
        opacity: 0.5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    }
    to {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@keyframes sonarWave {
    from {
        opacity: 0.5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    }
    to {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

.view_more {
    width: 100%;
    height: 2px;
    background-color: #27ae60;
    margin-top: 5px;
}

.view_more>a {
    background-color: #27ae60;
    border-radius: 50%;
    bottom: 16px;
    color: #fff;
    height: 30px;
    position: absolute;
    right: 30px;
    text-align: center;
    width: 30px;
}

.view_more>a:before {
    -webkit-animation: 2s linear 0s normal none infinite running sonarWave;
    animation: 2s linear 0s normal none infinite running sonarWave;
    background-color: #27ae60;
    border-radius: 50%;
    bottom: 0;
    color: #fff;
    height: 100%;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: -1;
    content: "";
}

.view_more>a>i {
    line-height: 30px;
    padding-left: 2px;
}

.single_team_advisor_info {
    margin-top: 50px;
}

.single_team_advisor_info .team_name>h4 {
    font-weight: 500;
    margin-bottom: 5px;
}

.single_team_advisor_info .description {
    margin-top: 15px;
}

/*
* Footer Area CSS
*/

footer {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    color: #fff;
    padding: 30px;
}

footer h3 {
    color: #fff;
}

.fa-map-marker:before {
    color: #292c2f;
}
.fa-phone:before {
    color: #292c2f;
}
.fa-envelope:before {
    color: #292c2f;
}
footer p {
    color: #fff;
    font-weight: 200;
}
footer span {
    font-weight: 700;
}
a.footer-a {
    color: #fff;
}
.bottom-bar {
    background: #5C5F62;
}
.bottom-bar p {
    color: #fff;
    padding-top:10px;
}

/*
* Bredcumb Area CSS
*/

.breadcumb_area {
    height: 500px;
    width: 100%;
    background-size: cover;
    position: relative;
    background-position: center center;
    z-index: 1;
}

.breadcumb_section {
    margin-top: 260px;
    position: relative;
    width: 100%;
}

ol.breadcrumb {
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.breadcrumb>li {
    color: #fff;
}

.breadcrumb li>a {
    color: #fff;
}

.breadcrumb>.active {
    color: #fff;
}

.breadcrumb li>a:hover {
    color: #27ae60;
}

.page_title {
    position: relative;
    z-index: 99;
}

.page_title>h3 {
    color: #27ae60;
    font-weight: 700;
    text-transform: capitalize;
}

/*
* Gallery Area CSS
*/

.gallery_menu .portfolio-menu button {
    background-color: transparent;
    border: medium none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    padding: 0 5px;
    position: relative;
    text-transform: uppercase;
}

.gallery_menu .portfolio-menu button {
    color: #fff;
    background: #2c3e50;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #2c3e50;
    border-radius: 0;
    font-family:'Dosis', serif;
}

.gallery_menu .portfolio-menu button:hover,
.gallery_menu .portfolio-menu button.active,
.gallery_menu .portfolio-menu button:focus {
    background: #5F7183;
    color: #000;
    font-weight: 700;
    padding: 5px;
    border-radius: 0;
    border: 1px solid #5F7183;
}

.portfolio-menu {
    margin-bottom: 30px;
}

.single_gallery_item {
    display: inline-block;
    float: left;
    width: 25%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.single_gallery_item.current {
    display: inline-block;
    float: left;
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.column_single_gallery_item {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 30px;
}

.single_gallery_item img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 100%;
}

.column_single_gallery_item img {
    border-radius: 3px;
    width: 100%;
}

/*.single_gallery_item:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}*/

.single_gallery_item .hover_overlay,
.column_single_gallery_item .hover_overlay {
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 30px;
    height: calc(100% - 60px);
    left: 30px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    right: 30px;
    top: 30px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    width: calc(100% - 60px);
}

.single_gallery_item:hover .hover_overlay,
.column_single_gallery_item:hover .hover_overlay,
.single_gallery_item:active .hover_overlay,
.column_single_gallery_item:active .hover_overlay {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.column_single_gallery_item .hover_overlay {
    left: 7.5%;
    right: 7.5%;
    width: 85%;
}

.single_gallery_item .gallery_info,
.column_single_gallery_item .gallery_info {
    text-align: center;
}

.single_gallery_item:hover .gallery_info {
    -webkit-animation: zoomIn 350ms ease-in-out;
    animation: zoomIn 350ms ease-in-out;
}

.gallery_info h5 {
    color: #2c3e50;
    display: inline-block;
    margin-bottom: 5px;
    text-transform: capitalize;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.gallery_info p {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    padding-right: 10px;
    padding-left: 10px;
}

.single_gallery_item_info .headline>h5 {
    margin-bottom: 5px;
}

.live_preview>a {
    background-color: #2c3e50;
    color: #fff;
}

.live_preview>a:hover,
.live_preview>a:focus {
    background-color: #27ae60;
    color: #fff;
}

.gallery_info .more_details>a {
    margin: 0;
}

.gallery_info .more_details>a:hover {
    background-color: #5F7183;
    color: #fff;
}

.image_zoom_in {
    position: absolute;
    right: 15px;
    z-index: 999;
    bottom: 15px;
}

.image_zoom_in>a {
    color: #2c3e50
}

.image_zoom_in>a:hover {
    color: #5F7183;
}

.video_zoom_in {
    position: absolute;
    left: 15px;
    z-index: 999;
    bottom: 15px;
}
.video_zoom_in>a {
    color: #2c3e50
}

.video_zoom_in>a:hover {
    color: #5F7183;
}

/*
* Gallery Details Area CSS
*/

.portfolio_details_img {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 30px;
    padding: 5px;
}

.m_single_details {
    display: inline-block;
    float: left;
    padding: 30px 0 0 30px;
    position: relative;
    width: 25%;
    z-index: 1;
}

.m_single_details>i {
    color: #27ae60;
    font-size: 24px;
    height: 30px;
    left: 0;
    position: absolute;
    top: 33px;
    width: 30px;
}

.m_single_details h5 {
    margin-bottom: 5px;
}

.m_single_details>p {
    margin: 0;
}


/*
* Contact Us Area CSS
*/

.contact_input_area .form-group input,
.contact_input_area .form-group select,
.contact_input_area .form-group textarea {
    font-family: 'Dosis', serif;
    background: #f6f6f6;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    padding: 15px 20px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.contact_input_area .form-group input:focus,
.contact_input_area .form-group select:focus,
.contact_input_area .form-group textarea:focus {}

.contact_input_area .form-group textarea {
    height: 250px;
}

.message_title {
    margin-bottom: 60px;
    text-align: center;
}

.contact_input_area button {
    display: block;
    margin: 0 auto 30px;
    cursor: pointer;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

select option {
    padding: 15px;
}

.success,
.error {
    padding: 1em;
    margin-bottom: 12px;
    margin-bottom: 12px;
    margin-bottom: 12px;
    margin-bottom: 12px;
    margin-bottom: 12px;
    margin-bottom: 12px;
    margin-bottom: 12px;
    margin-bottom: 12px;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

.success {
    color: #fff;
    background-color: #2ecc71
}

.error {
    color: #fff;
    background-color: #c0392b;
}

.map_area {
    height: 300px;
    width: 100%;
}

.message_now_area {
    position: relative;
    z-index: 1;
}

.address-area .single_part {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.address-area .single_part>p,
.address-area .single_part>a {
    position: relative;
    margin-left: 30px;
    margin-bottom: 0;
    color: #2c3e50;
    display: block;
}

.address-area .single_part>i {
    color: #27ae60;
    font-size: 20px;
    left: 0;
    position: absolute;
    top: 5px;
}

.social_links_area>a {
    color: #fff;
    display: inline-block;
    font-size: 18px;
    margin: 0 2px;
    text-align: center;
    width: 30px;
    height: 30px;
}

.inline-style .social_links_area>a {
    border: 0px solid transparent;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: auto;
    margin: 0 10px;
    text-align: center;
    width: auto;
}

.inline-style .social_links_area>a>i {
    line-height: 1;
}

.social_links_area>a:hover {
    color: #27ae60;
}

.inline-style .social_links_area>a:hover {
    background-color: transparent;
    color: #27ae60;
    border: 0px solid transparent;
}

/*new*/

.modal_head {
    padding-bottom: 15px;
}
#pastprojects {
    background: #f6f6f6;
}
.card-block {
    padding:10px;
    background:#f6f6f6;
}
.card-hr {
    margin-right: 80%;
    border: 2px solid #D1CFCF;
    background: #D1CFCF;
}
.slide-header {
    background: rgba(0, 0, 0, 0.47);
    padding:25px;
    margin-bottom: 110px;
}
.white-text {
    color:#fff;
}
.btn-primary {
    background: #2c3e50;
    border-radius: 0;
    border: none;
}
.btn-primary:hover,
.btn-primary:focus {
    background:#5F7183;
    border-color: 1px solid #5F7183;
    box-shadow:none;
}
 .navbar {
  min-height: 80px;
  box-shadow: 0 0 10px #888888;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
  width: 70%;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
  .navbar-light .navbar-brand {
    width: 70% !important;
    }
.navbar-brand img {
    max-width: 122%;
    }
    .navbar-expand-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    padding-top: .7rem;
    padding-bottom:.7rem;
    font-family: 'Playfair Display SC', serif;
    }
.modal-content {
    padding: 50px 15px;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
    border-radius: 0;
    background:#f6f6f6;
    border: 10px solid #D1CFCF;
    }
    .header-box h3 {
    color:#fff;
    font-family:'Playfair Display SC', serif;
    font-size:45px;
    }
    .header-box h5 {
        color:#fff;
        font-family: 'Dosis', sans-serif;
        font-size:18px;
    }
}
.navbar-nav .nav-link {
    font-family: 'Playfair Display SC',serif;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    background: rgba(94, 112, 130, 0.13);
}

@media (max-width:767px) {
    .slide-header {
    margin-bottom: 0px;
    }
    .header-box {
    margin-top: 150px;
    }
    .header-box h3 {
    color: #fff;
    font-family: 'Playfair Display SC', serif;
    }
    .header-box h5 {
    color:#fff;
    font-family: 'Dosis', serif;
    }
    .section_padding_special {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    .mobile-pad {
        padding-top: 50px;
    }
}

.bg-light {
    background-color: #fff!important;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: rgba(94, 112, 130, 0.13);
    color: #000;
    font-family: 'Playfair Display SC', serif;
}
.dropdown-item {
    color: rgba(0,0,0,.5);
    font-family: 'Playfair Display SC', serif;
}
.fa-times:before {
    color: #D1CFCF;
}
.navbar-toggler {
    border-radius: 0;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.9);
}

.white {
    color:#fff;
}

@media (min-width: 1920px) {
    .welcome_area {
    overflow: hidden;
    background: url('../img/yellowstone-overlook-xl.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    }
}

.modal-postcard {
    padding-top: 5px;
    font-weight: 400;
}
.overlay-p {
    padding-left:20px;
    padding-right:20px;
    color:#000;
}
.mrgn-30 {
    margin-bottom: 30px;
}
.close-button {
    margin-top: 50px;
    padding: 20px 100px 20px 100px;
}
.center {
    text-align: center;
}
#team {
    background: #f6f6f6;
}
.single_service.mobile {
    padding:0;
}
.mobile-card-title {
    text-align: center;
    padding: 20px;
    margin: -1px;
    color: #fff;
    background: #5F7183;
}
.mobile-card-p {
    padding: 30px 15px 0px 15px;
}
@media (max-width: 768px) {
    .gallery_info h5 {
        font-size:14px;
    }
    .overlay-p {
        font-size: 10px;
    }
    .gallery_info .more_details>a {
        font-size:10px;
    }
}
    .placeholder {
        visibility: hidden !important;
    }

/*@media (max-width: 576px) {
    .current-full {
        display:none;
    }
}*/
/*@media (min-width: 577px) {
    .current-mobile {
        display:none;
    }
}*/

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}